html{
    position: relative;
    height: 100%;
}
body{
    background-image: url("../imges/Background/pb.png");
    margin: 0;
    
}
header{
    background-color: #ffffff;
    width: 100%
 }
.w_85{
    margin: 0 auto;
    width: 85%;
}
.main{
    width: 90%;
    background-color: #ffffff;
    border-radius: 8px;
    margin:0 auto;
    border: solid 3px #000000
}
.welcome{
    text-align: center;
}
.text{
    width: 95%;
    margin: 0 auto;
}
.daw{
    position: fixed;
    bottom: 0;
}
footer{
    background-color: #ffc0cb;
    position: absolute;
    bottom: 0;
    width: 100%;
}
footer p{
    text-align: center;
    margin: 0 auto;
}
@media (max-width: 480px){
    .width{
        max-width: 100%;
    }
    img{
        width: 300px;
        height: 300px;
    }
    footer{
        height: 100px;
    }
}
nav a {	
    text-decoration: none;
    color: rgb(0, 0, 0);
 }
 nav {
    margin: 0 0 0 auto;
 }
 ul {
    list-style: none;
    margin: 0;
    display: flex;
 }
 li {
    margin: 0 0 0 15px;
    font-size: 18px;
 }